{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<div class="container py-5">
 <h1>Привет, я автор</h1>
 <p>
  И прежде всего я хотел бы извиниться за то, что вам<br>
  представилась возможность лицезреть эту страницу без верстки.<br>
  Дело в том, что html и css не показались мне такими уж интересными, <br>
  потому я решил выделить ресурсы на изучение backend, несомненно <br>
  предполагая, что знание минимума хоть и важно, но не в данный момент.<br>
  На каникулах обязательно разберусь с ними, если, конечно, не отправлюсь<br>
  в академ из-за наличия ощущения, что я ничего не усвоил и всё ещё не <br>
  могу справиться с наилегчайшими задачами без того, чтоб спросить гугл. <br>
  <br>
  Странно наблюдать, как люди, учащиеся со мной на одном курсе, передают <br>
  код на ревью настолько быстро. А ведь у всех 24 часа в сутках, казалось бы.<br>
  Хочется верить, что в дальнейшем будет какое-нибудь задание\примеры,<br>
  позволяющее ощутить наличие новых знаний и умение их применять,<br>
  как следствие.<br>
  <br>
  </p>
</div>
{% endblock %}
